:root {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);

}

.App {
  text-align: center;
}

#heading {
  font-size: 40px;
  color: #d89e76;
}

#scoring {
  color: #697e91;
}

.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 80%;
  /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-color: #e5d1a6;
  padding: 16px;
  border-radius: 16px;
  color: #8d6b60;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: #D7C0AE;
  padding: 16px;
  border: 3px solid #967E76;
  border-radius: 20px;
  font-size: 20px;
}

.question-text {
  color: #697e91;
  font-size: 24px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%;
  /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: #e5d1a6;
  padding: 16px;
  border-radius: 16px;
  color: #896255;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

button {
  background-color: rgb(75, 133, 181);
  box-shadow: rgb(50, 103, 145) 0 1px 1px;
  /* Green */
  border: 1px solid;
  border-color: rgb(50, 103, 145);
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}

.final-score {
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  box-shadow: #432a18 0 1px 2px;

}

.correct {
  background-color: rgb(220, 255, 168);
  padding: 5px;
  border-color: rgb(139, 185, 70);
  border: 1px solid;
}

.incorrect {
  background-color: rgb(245, 147, 147);
  padding: 5px;
  border-color: rgb(255, 77, 77);
  border: 2px solid;
}